n8n/new_workflows/Event Content Generator.json
{
  "name": "Event Content Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ecfdf01-3840-4d68-9ac0-800489620a54",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8f4a7c37-5a91-4612-ae94-fbf6bb7a7d8e",
      "name": "Webhook",
      "webhookId": "0ecfdf01-3840-4d68-9ac0-800489620a54"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "98a1cb18-fce1-4371-8d78-78d83805e73d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Nc1I7yxFDgRVdH7K",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate content for this event:\nTitle: {{ $json.event_title }}\nLocation: {{ $json.location }}\nDate: {{ $json.start }}\nAdditional context: {{ $json.prompt }}\n\nReturn only the JSON object.\n",
        "options": {
          "systemMessage": "You are a professional content creator for Swinburne Vietnam university.\nYour job is to generate engaging, bilingual marketing content for university events.\nALWAYS respond with a single valid JSON object only — no markdown, no prose, no code fences.\nRequired JSON keys:\n  social_post       — max 150 words, casual/energetic tone, English\n  email_newsletter  — max 300 words, formal tone, English\n  recruitment_ad    — max 100 words, persuasive/aspirational tone, English\n  vietnamese_version — Vietnamese translation of social_post\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2c814519-f991-4d24-910a-16b3430410e5",
      "name": "Content Generator"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI Agent's text output into structured JSON\nconst agentOutput = $input.first().json.output\n  ?? $input.first().json.text\n  ?? JSON.stringify($input.first().json);\n\nlet content = {};\ntry {\n  // Extract the first {...} block (handles cases where LLM adds preamble text)\n  const match = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    content = JSON.parse(match[0]);\n  } else {\n    // Fallback: wrap raw output in social_post\n    content = { social_post: agentOutput };\n  }\n} catch (e) {\n  content = { social_post: agentOutput, parse_error: e.message };\n}\n\n// Pull event_id from the upstream Extract node (not from AI Agent output)\nconst extracted = $('Extract Event Data').first().json;\n\nreturn [{\n  json: {\n    event_id: extracted.event_id,\n    event_title: extracted.event_title,\n    start: extracted.start,\n    end: extracted.end,\n    location: extracted.location,\n    generated_content: content,\n    generation_meta: {\n      generated_by: 'n8n-groq',\n      source: 'groq-llama3-3-70b',\n      generated_at: new Date().toISOString(),\n      model: 'llama-3.3-70b-versatile',\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "13485b68-9e33-459b-8fb7-35b37a0e6db4",
      "name": "Build Callback Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cos40005_backend:8000/api/core/events/{{ $('Extract Event Data').first().json.event_id }}/gcal-sync/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-SECRET",
              "value": "dev-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"gcal_event_id\": \"={{ $json.id }}\",\n  \"generation_timeout_at\": \"={{ new Date(Date.now() + 10*60*1000).toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        0
      ],
      "id": "baafc78c-f341-480b-ad94-0bdb95f02e45",
      "name": "Phase 1 callback (GCal link)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://cos40005_backend:8000/api/core/events/{{ $('Extract Event Data').first().json.event_id }}/generation_callback/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-SECRET",
              "value": "dev-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"generated_content\": \"={{ $json.generated_content }}\",\n  \"generation_meta\": \"={{ $json.generation_meta }}\",\n  \"gcal_event_id\": \"={{ $('Create GCal Event').first().json.id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        0
      ],
      "id": "15e975b9-8fe3-42de-99fa-1a2e6ced5871",
      "name": "Phase 2 Callback (AI Content)"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "a29039401757e3d17d08a5066b68d0c9db51aa74528f17605f390e032e8261c7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "SwinCMS-StaffHQ"
        },
        "eventId": "={{ $('Create GCal Event').first().json.id }}",
        "updateFields": {
          "description": "={{ $('Build Callback Payload').first().json.generated_content.social_post }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1600,
        0
      ],
      "id": "13a20a44-f0b6-4795-8b40-d320d3c14e6f",
      "name": "Update GCal Description",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SDzQuYQqVliINFAw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "a29039401757e3d17d08a5066b68d0c9db51aa74528f17605f390e032e8261c7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "SwinCMS-StaffHQ"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "description": "Swinburne Vietnam event. AI content pending — check CMS for details.",
          "location": "={{ $json.location }}",
          "summary": "={{ $json.event_title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        976,
        0
      ],
      "id": "ce7f8546-00c7-479a-8931-1784a2ac2046",
      "name": "Create GCal Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SDzQuYQqVliINFAw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handles both direct body and nested body.payload structures\nconst raw = $input.first().json;\nconst body = raw.body ?? raw;\nconst payload = body.payload ?? body;\n\nconst eventId = payload.event_id ?? body.event_id;\nif (!eventId) throw new Error('event_id is missing from Django payload');\n\nreturn [{\n  json: {\n    event_id: String(eventId),\n    event_title: payload.title ?? payload.event_title ?? 'Swinburne Vietnam Event',\n    prompt: payload.prompt ?? '',\n    start: payload.start ?? '',\n    end: payload.end ?? '',\n    location: payload.location ?? '',\n    timestamp: body.timestamp ?? new Date().toISOString(),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a1a683b4-393a-4c7c-a93e-2f7ff3b7997a",
      "name": "Extract Event Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Generator": {
      "main": [
        [
          {
            "node": "Build Callback Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Callback Payload": {
      "main": [
        [
          {
            "node": "Create GCal Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 callback (GCal link)": {
      "main": [
        [
          {
            "node": "Phase 2 Callback (AI Content)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2 Callback (AI Content)": {
      "main": [
        [
          {
            "node": "Update GCal Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GCal Event": {
      "main": [
        [
          {
            "node": "Phase 1 callback (GCal link)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Data": {
      "main": [
        [
          {
            "node": "Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26837b05-b5c6-484e-834b-dfebdd0a7073",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20cf140876f4536aa1ab101ded9b1cda07435d70d6828b29fc400cbbe8650c2e"
  },
  "id": "ACdNL7UYxwY8lx4O",
  "tags": []
}